ul.slick-dots {
  right: -50px;
  bottom: -50px;
}
ul.slick-dots li {
  background: url("/src/assets/icons/dot.svg") no-repeat center;
  margin: 0;
}

.slick-dots li.slick-active {
  background: url("/src/assets/icons/dot-filled.svg") no-repeat center;
}

.slick-dots li button::before {
  display: none;
}
