@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen and (orientation: landscape) {
  html::after {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "אפליקציה זו אינה תומכת מסך רחב";
    font-size: 2rem;
  }
  body {
    display: none;
  }
} */

:root {
  @apply leading-5;
}

*::-webkit-scrollbar {
  display: none;
}

/* Screen spliting in SneakPeek page */
.skewed:before {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  transform: skewY(20deg);
  transform-origin: top right;
  content: "";
  @apply bg-site-bg;
}

/* slack slider */
ul.slick-dots {
  @apply mb-[37px] mt-2 text-center;
}
ul.slick-dots li {
  @apply inline-block h-4 w-4 cursor-pointer px-1;
  background: url("/icons/dot.svg") no-repeat center;
}

.slick-dots li.slick-active {
  background: url("/icons/dot-filled.svg") no-repeat center;
}

ul.slick-dots li button {
  @apply text-transparent;
}
